body {
	background: linear-gradient(180deg, rgba(79,131,255,1) 40%, rgba(35,207,255,1) 100%);
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Roboto';
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

#logoBtn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: none;
	width: 128px;
	height: 128px;
	border-radius: 128px;
	text-align: center;
}

#historyBtn, #infoBtn {
	position: fixed;
	top: 8px;
	left: calc(50% + 192px);
	background-color: rgba(79,131,255,1);
	border: 2px white solid;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	font-size: 16px;
	color: white;
	font-weight: 700;
}

#infoBtn {
	display: none;
}

#logoImg {
	width: 112px;
	height: 112px;
}

#payForm {
	display: none;
}

#logonInput, #logonBtn, #toInput, #amountInput, #payBtn {
	display: block;
	margin: auto;
	margin-top: 96px;
	border: none;
	width: 448px;
	height: 64px;
	text-align: center;
	font-size: 32px;
	padding: 16px;
	border-radius: 0;
}

#logonInput:focus::placeholder, #toInput:focus::placeholder, #amountInput:focus::placeholder {
	color: transparent;
}

#logonBtn, #payBtn {
	margin-top: 16px;
	background-color: #FFC023;
}

#logonBtn:hover, #payBtn:hover, #infoBtn:hover, #historyBtn:hover {
	cursor: pointer;
}

#amountInput {
	margin-top: 16px;
}

#modal, #infoModal, #historyModal {
	display: none;
	z-index: 9000;
	width: 100%;
	height: 100%;
	font-size: 16px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.6);
}

#alert, #alertHeader, #info, #infoHeader, #history, #historyHeader {
	width: 416px;
	padding: 16px;
	background-color: white;
	margin: auto;
	margin-top: 224px;
	white-space: pre-line;
}

#alertHeader, #infoHeader, #historyHeader {
	height: 24px;
	background-color: #008a00;
}

#alert, #info, #history {
	margin-top: 0px;
	min-height: 128px;
	max-height: 256px;
	overflow-y: auto;
}

#closeModal, #closeInfoModal, #closeHistoryModal {
	float: right;
	font-weight: 700;
	color: white;
	font-size: 24px;
}

#closeModal:hover, #closeInfoModal:hover, #closeHistoryModal:hover {
	cursor: pointer;
}

#toInput:disabled {
	cursor: not-allowed;
}
